.gifs{
    overflow-x: hidden;
    background-color: blanchedalmond;
}
ul {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
    border-style: groove;
    border-color: chocolate;
}